#!/bin/zsh

# Check if the environment has already been set up
if [[ -z "${DIRENV_INITIALIZED}" ]]; then
  # Mark the environment as initialized
  export DIRENV_INITIALIZED=1

  # Enter the Nix shell environment
  nix shell github:jarneamerlinck/kickstart.nvim --command true

  # Optionally, you can output a message
  echo "Nix shell initialized for github:jarneamerlinck/kickstart.nvim"
fi

